.root{
    padding: 10px;
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid #17797c;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/chatbot.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}