* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Ai {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 30px;

    .chat {
        background: #eeeeee;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        padding: 25px;
        margin-top: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    button {
        outline: none;
        background-color: #17797C;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        padding: 14px 24px;
        border: none;
        font-size: 17px;
    }

    input {
        margin-right: 10px;
        font-size: 18px;
        color: #ffffff;
        width: 90%;
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 14px 20px;
        background-color: #333333;
    }

    .propt {
        width: max-content;
        color: #eeeeee;
        background-color: #17797C;
        border: none;
        padding: 5px 15px 5px 3px;
        border-radius: 6px;
    }

    .response-area {
        background-color: #333333;
        color: #eeeeee;
        border-radius: 7px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    .Ai {

        button {
            outline: none;
            background-color: #17797C;
            color: #fff;
            font-weight: bold;
            border-radius: 10px;
            padding: 14px 20px !important;
            border: none;
            font-size: 13px !important;
        }

        input {
            margin-right: 10px;
            color: #ffffff;
            width: 90%;
            border: none;
            border-radius: 10px;
            outline: none;
            padding: 14px 20px;
            background-color: #333333;
            font-size: 13px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .Ai {
        font-size: 12px;

        input {
            font-size: 14px;
        }

    }
}